<html>

<head>

  <style>
    @media screen {

      @font-face {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: normal;
        font-display: swap;
        src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v12/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
      }

      @font-face {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: bold;
        font-display: swap;
        src: local('Nunito SemiBold'), local('Nunito-SemiBold'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofA6sKUYevIWzgPDA.woff2) format('woff2');
      }

    }

    .message-content {
      font-family: 'Nunito', sans-serif;
      font-size: 1rem;
      line-height: 1.8rem;
      color: #383A3D;
      padding: 5px;
    }

    .logo {
      text-align: center;
      font-weight: bold;
      font-family: 'Nunito', sans-serif;
      font-size: 3.5rem;
      border-bottom: 1px solid #17b8a7;
      margin-bottom: 5px;
    }

    .primary {
      color: #17b8a7;
    }

    .secondary {
      font-size: 1.3rem;
      color: #383A3D;
      font-weight: normal;
    }

    strong {
      font-weight: bold;
    }

    .not-approved {
      color: #C54A48;
    }

    p {
      margin: 0;
    }

    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: #383A3D;
    }

    footer {
      margin-top: 5px;
      text-align: center;
      border-top: 1px solid #17b8a7;
      color: #383A3D;
      padding-top: 5px;
    }
  </style>

</head>

<body>
  <div>
    <div class="logo">
      <a href="https://www.roboisa.com.br">
        <p class="primary">ISA</p>
        <p class="secondary">Infection Surveillance Assistant</p>
      </a>
    </div>

    <div class="message-content">
      <p>Olá {{name}}, temos um aviso importante!</p>
      <p>{{attended.user.username}} respondeu o protocolo {{protocol.name}} gerado na data {{protocol.generationDate}}</p>

      <ul>
        {{#each symptoms}}
        <li><strong>{{this.name}}: {{this.val}}</strong></li>
        {{/each}}
      </ul>

      <p>Características:</p>

      <ul>
        <li><strong>Idade:</strong> {{attended.baseline.age}} anos</li>
        <li><strong>Peso:</strong> {{attended.baseline.weight}} kg</li>
        <li><strong>Altura:</strong> {{attended.baseline.height}} cm</li>
        <li><strong>Gênero:</strong> {{attended.baseline.genre}}</li>
        <li><strong>Cidade:</strong> {{attended.baseline.city}}</li>
        <li><strong>Profissão:</strong> {{attended.baseline.profession}}</li>
      </ul>

      <p>Doenças</p>

      <ul>
        <li><strong>Consultas médicas recentes:</strong> {{YesOrNo attended.baseline.recent_appointments}}</li>
        <li><strong>Já teve contato com alguém com COVID-19:</strong> {{YesOrNo attended.baseline.contact_covid19}}</li>
        <li><strong>Está utilizando máscara ou outra proteção:</strong> {{YesOrNo attended.baseline.mask}}</li>
      </ul>

      <p>respostas</p>

      <ul>
        <li><strong>Hipertensão:</strong> {{YesOrNo attended.baseline.hypertension}}</li>
        <li><strong>Diabetes:</strong> {{YesOrNo attended.baseline.diabetes}}</li>
        <li><strong>Doença cardíaca:</strong> {{YesOrNo attended.baseline.heart_disease}}</li>
        <li><strong>Doença pulmonar:</strong> {{YesOrNo attended.baseline.lung_disease}}</li>
        <li><strong>Asma:</strong> {{YesOrNo attended.baseline.asthma}}</li>
        <li><strong>Tabagismo:</strong> {{YesOrNo attended.baseline.smoking}}</li>
        <li><strong>Doença renal:</strong> {{YesOrNo attended.baseline.kidney_disease}}</li>
        <li><strong>Câncer:</strong> {{YesOrNo attended.baseline.cancer}}</li>
        <li><strong>Uso de corticóides ou metotrexate:</strong>
          {{YesOrNo attended.baseline.corticosteroids_or_methotrexate}}</li>
        <li><strong>Gestação:</strong> {{YesOrNo attended.baseline.gestation}}</li>
      </ul>

      <p>Informações para contato com {{attended.user.username}}</p>

      <ul>
        <li><strong>E-mail:</strong> {{attended.user.email}}</li>
        <li><strong>Telefone:</strong> {{attended.user.phone}}</li>
      </ul>

      <p>Informações para contato com os responsáveis</p>

      <ul>
        {{#each responsible}}
        <li><strong>Nome:</strong> {{this.username}}</li>
        <li><strong>E-mail:</strong> {{this.email}}</li>
        <li><strong>Telefone:</strong> {{this.phone}}</li>
        {{/each}}
      </ul>

    </div>
  </div>
</body>
<footer>
  <a href="https://www.portalqualis.com.br">
    <img src="https://www.portalqualis.com.br/hospital/assets/images/favicon/apple-icon-57x57.png" width="32">

    <p>Qualis</p>
  </a>
  <a href="https://goo.gl/maps/kkJdNrnP9pVvGcK38">
    <p>Av. Osvaldo Aranha, 1022 - Sala 1101</p>
    <p>Bom Fim, Porto Alegre - RS, 90035-191</p>
  </a>
</footer>

</html>
